*~
*.o
/jame.jar
/.project
/.classpath
/.settings
/publish
/native
/build
/lib/*
/bin
/src-native/libjame.so
/src-native/win32-dependencies/
/src-native/audio.h
/src-native/events.h
/src-native/jame.h
/src-native/sound.h
/src-native/surface.h
/src-native/trueTypeFont.h
/src-native/video.h
/docs/api
/.gradle
